/API.html
/API.js
/async.html
/async.js
/gpt(basics).html
/gpt(basics).js
/hello.js
/index.html
/index1.html
/JavaScript
/mini_notes.html
/mini_notes.js
/script.js
/style.css
/tic-tac-toe.css
/tic-tac-toe.html
/tic-tac-toe.js
/to-do-list.html
/to-do-list.js